<!DOCTYPE html>
<html>
    <head>
        <title>Aiming.Pro | Settings</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous"></script>
        <script>

            window.addEventListener('DOMContentLoaded', () => {
                window.dispatchEvent('get-settings');

                window.addEventListener('return-settings', (settings) => {
                    ko.applyBindings(ko.observable(obsettings));
                })
            }, false);
        </script>
    </head>
    <body>
        <div id="general">
            <form>
                <label>Vsync: </label>
                <input type="checkbox" data-bind="checked: settings.framerate"> <br>
                <label>Unlimited Framerate: </label>
                <input type="checkbox" data-bind="checked: settings.vsync">
            </form>
        </div>
    </body>
</html>